@CHARSET "UTF-8";
#messageAlert{/*整个消息提示框*/
	width: 318px;
	height: 191px;
	background-image:url("../images/writeEmail/mail_tip.png");
	position: fixed;
	left: 100%; 
	top: 100%;
    transform: translate(-100%, -100%); /* 50%为自身尺寸的一半 */
    display: none;
}
#closeMessageAlert{/*关闭消息弹出框DIV*/
	width: 15px;
	height: 15px;
	float: right;
	margin-top: 13px;
}
#message_head{/*消息头像*/
	width: 66px;
	position: absolute;
	height:80px;
	clip: rect(0px 65px 80px 0px);
	top:74px;
	left: 41px;
}
#messageContent{/*消息提示内容*/
	float: right;
	width: 180px;
	height: 90px;
	
	margin-top: 80px;
}
#messageNickName{/*发信人*/
	font-size:13px;
	mar
}
#messageText{
	margin-left: 2em;
	
}
#messageOpre2,#messageOpre1{
	margin-left: 10px;
	color:rgb(239,93,167);
	text-decoration: underline;
	cursor: pointer;
}
#messageOpre2{
	margin-left: 20px;
}