@CHARSET "UTF-8";
/*右边部分begin*/
#allCRight{
	margin-top: 20px;
	width:795px;
	background:white;
	float: right;
	border: 1px solid rgb(213,213,213);
	box-shadow:0 0 5px rgb(213,213,213);
}
#rightTitle{/*资料显示的标题部分*/	
	margin-top:10px;
	margin-bottom: 10px;
}
#rightTitleInfoPerfect{/*资料完善度DIV*/
	display: inline-block;
	margin-left: 100px;
	width: 350px;
}
.progress{/*资料进度条*/
	display: inline-block;
	width: 200px;
	margin-top: 20px;
	margin-right:40px;
	padding: 0px;
	float: right;
}
#rightTitleInfoPerfectText{/*资料完善度文本*/
	display: inline-block;
	margin-top: 20px;
	float:left;
	color:rgb(150,150,150);
}
#rightInfoImg{/*右边的资料显示图片*/
	margin-left: 15px;
	float: left;
}
#rightInfoText1{/*右边资料的文本显示*/
	font-size: 19px;
	line-height: 30px;
	margin-left: 20px;
	margin-top: 10px;
	display: inline;
	float: left;
}
#rightInfoText2{
	float:right;
	color:rgb(180,180,180);
	text-decoration:underline;
	margin-right: 40px;
	margin-top:20px;
	font-size: 12px;
}
/*我的私信begin*/
.emailDiv{/*装着所有私信的DIV*/
	border: solid 1px;
	margin: 0px 20px 0px 20px;
	height: 80px;
	
}
#emailTable a{
	color:rgb(100,100,100);
	cursor: pointer;
	text-decoration: none;
}
#emailTable tr{
	height: 80px;
	border-bottom: solid 1px rgb(236,236,236);
}
.deleteEmail{/*删除私信的复选框*/
	position: relative;
}
.emailHead{/*头像*/
	width: 37px;
	height: 45px;
}
.emailStateImg{/*私信状态的图片*/
	margin-top: 4px;
}
.emailHeadDiv{/*包裹头像Div*/
	padding: 2px;
	height:50px;
	width:43px;
	border: solid 1px rgb(226,226,226);	
}
.emailInfoDiv{
	height: 50px;
	width: 350px;	
	position: relative;
	right: 10px;
}
.emBaseInfo{/*私信的基本信息*/
	font-size: 13px;
	font-weight: 100;
	color:rgb(100,100,100);
}
.emDetaInfo{/*私信的详细信息*/
	font-size: 12px;
	font-weight: 100;
	color:rgb(100,100,100);
}
.emDetaInfo span:not(.emTime){
	margin-left: 30px;
}
.emBaseInfo span{
	margin-left: 10px;
}
.emNickName{/*昵称*/
	font-size: 14px;
	color:rgb(236,137,201);
}
.emTime{/*时间*/
	margin-left: 10px;
}
.emCount{/*信息条数*/
	color:rgb(224,2,115);
	font-size: 14px;
	margin-left: 20px;
}
.viewEmail{/*查看私信*/
	color:white;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	line-height:36px;
	margin:auto;
	position:relative;
	top:20px;
	margin-bottom:40px;
	width:100px;
	height:36px;
	background-repeat:no-repeat;
	background-image: url(../../images/myTaoMei/saveinfo1.png);
	cursor: pointer;
	clear: both;
}
.viewEmail:HOVER{
	background-image: url(../../images/myTaoMei/saveinfo2.png);
}
.yiduEmail{
	margin:auto;
	position:relative;
	top:20px;
	margin-bottom:40px;
	width:100px;
	height:37px;
	background-repeat:no-repeat;
	background-image: url(../../images/myTaoMei/yiduDiv.png);
	cursor: pointer;
	clear: both;
}
#emailOpreation{/*私信操作DIV*/
	margin-left: 30px;
	margin-top: 20px;
}
#allEmailSelect{/*全选私信*/
	margin-top: 5px;
}
#deleteEmail{/*删除该私信的span*/
	margin-left: 20px;
	font-size: 13px;
	color:(100,100,100);
	border: solid 1px rgb(200,200,200);
	cursor:pointer;
	padding:5px 10px 5px 10px;
}

#deletePoint p{/*删除提示*/
	text-align: center;
	color:red;
	font-size: 14px;
	margin-top: 20px;
}
#deletePoint div{
	height: 30px;
	width: 70px;
	font-size: 13px;
	text-align: center;
	line-height: 30px;
	margin: auto;
	margin-top:15px;
	border: rgb(200,200,200) solid 1px;
	border-radius:3px;
	cursor: pointer;
}
#emailPagination{/*私信分页*/
	display: inline-block;
	position: relative;
	top:0px;
	left: 50%; 
    transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
    	
}

.emailTool{/*私信工具条Div*/
	padding-left:20px;
	border-bottom: solid 1px rgb(226,226,226);
	height: 40px;
	margin-bottom: 10px;
}

/*我的私信end*/


/*我的关注begin*/
#allAttentionDiv{
	margin: auto 30px 30px 30px;	
}

.attentionDiv{
	margin-top: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid rgb(223,223,223);
	border-bottom-style: dashed;
}
.atHead{/*头像*/
	width:96px;
	height: 116px;
	border: solid 1px rgb(212,212,212);
	padding: 3px;
	float: left;
}
.atNickName{/*昵称*/
	cursor:pointer;
	margin-left: 106px;
	font-size: 15px;
	font-weight: bold;
	
}
.atInfo{
	color:rgb(100,100,100);
	font-size: 13px;
	margin-left: 10px;
	display:inline-block;
	margin-top: -8px;
}
.btHeartInfo{/*内心独白*/
	font-size: 12px;
	margin-top:3px;
	font-weight:lighter;
	margin-left: 106px;
	color:rgb(140,140,140);
	width: 600px;
	overflow:hidden;
	height: 35px;
}
.cancelAttention{/*取消关注*/
	height:27px;
	cursor:pointer;
	margin-left: 20px;
	margin-top: -3px;
}
.senMessage{
	cursor:pointer;
	margin-left: 10px;
	margin-top: -3px;
}
/*我的关注end*/


/*最近访客begin*/
.visitorHead{/*访客用户头像*/
	width: 110px;
	height: 130px;
	margin-left: 8px;
	margin-top: 10px;
	cursor: pointer;
}
#visitorTable{/*用户推荐表*/
	margin-top: 10px;;
	margin-left: 10px;
	margin-bottom: 30px;
}
.visitorName{
	color: rgb(90,90,90);
	font-size: 13px;
	margin-top: 5px;	
	text-align:center;
	
}
.visitorTime{
	color: rgb(120,120,120);
	font-size: 12px;
	margin-top:-5px;
	text-align:center;	
}

.visitorInfoDiv{/*最近访客用户里的Div*/
	height: 190px;
	width: 130px;
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
	overflow: hidden;
	margin: 10px 13px 10px 14px;
}
.visitorInfoDiv a:FOCUS{
	outline: none;
	text-decoration: none;
}

.visitorInfoDiv:HOVER{
	box-shadow:0 0 5px rgb(170,170,170);
}

/*最近访客end*/
#footer{/*页脚部分*/
	width: 850px;
	margin:auto;
	margin-top:40px;
	margin-bottom: 40px;
}
