@CHARSET "UTF-8";
#footer{/*页脚部分*/
	width: 850px;
	margin:auto;
	margin-top:40px;
	margin-bottom: 40px;
}
#allContent{
	background:rgb(252,252,252);
	border-bottom: 1px solid rgb(213,213,213);
	box-shadow:0 0 1px rgb(213,213,213);
	padding: 1px;
}
#content{
	width: 1000px;
	margin: auto;
	margin-bottom: 20px;
	margin-top:20px;
	border:solid 1px rgb(223,223,223);
	box-shadow:0 0 2px rgb(213,213,213);
	overflow: hidden;
	padding-bottom: 30px;
}
#allTalk{
	width: 700px;
	float: left;
	margin-left: 30px;
}
#allAboutTalk{/*所有相关话题*/
	float: right;
	padding-top:20px;
	width: 220px;
}
#allAboutTalk img{/*简单话题提示*/
	margin-right: 5px;
}

.simpleTalk{/*每个简单话题*/
	margin-top: 10px;
	margin-left: 10px;
}
.simpleTalk img{
	width: 9px;
	margin-right: 5px;
}
#allAboutTalk a{
	color:rgb(100,100,100);
	cursor: pointer;
}

#headDiv{/*话题头像DIV*/
	overflow: hidden;
	width: 48px;
	height: 48px;
	border-radius:24px;
	position: absolute; 
}
#headImg{/*话题头像*/
	position: absolute;
	width: 48px;
	clip: rect(0px, 48px, 48px, 0px);
	cursor: pointer;
}
#userBaseInfo{/*话题用户基本信息*/
	margin-left: 60px;
	margin-top:5px;
	color:rgb(100,100,100);
	
}
#talkTime{/*话题发布时间*/
	margin-left: 60px;
	display:inline-block;
	color:rgb(130,130,130);
}
#talkContent{
	margin-top: 10px;
	color:rgb(100,100,100);
	letter-spacing: 1px;
}
#talkTag{/*话题便签DIV*/
	margin-top: 10px;
}
.talkTag{/*搜索标签*/
	border: 1px solid rgb(154,187,228);
	border-radius:4px;
	padding:3px 8px 3px 8px;
	margin-right: 5px;
	display:inline-block;
	margin-top: 5px;
	cursor: pointer;
}
#wirteDiscussDiv{/*写评论的DIV*/
	margin-top: 30px;
	position: relative;
	margin-bottom: 15px;
}
#wirteDiscuss{/*写评论*/
	padding:5px;
	height: 160px;
	border: solid 1px rgb(196,218,237);
	overflow-y:auto; 
}
#openFace{/*打开表情*/
	position: absolute;
	top:160px;
	left:10px;
	cursor: pointer;
}
#allFace{/*表情Div*/
	height: 150px;
	width: 400px;
	background: white;
	position: absolute;
	left: 10px;
	top:5px;
	display:none;
	border: solid 1px rgb(226,226,226);
}
#allFace table{
	margin: 10px;
}
#allFace td{
	width: 45px;
	height: 45px;
}
#allFace img{
	cursor: pointer;
}
.talkDiscussFace{/*发表评论的表情*/
	margin-left: 5px;
	margin-right: 5px;
}
#sendDiscuss{
	width: 50px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	background:rgb(255,84,144);
	color:white;
	float: right;
	border-radius:2px;
	margin-top: 10px;
	cursor: pointer;
}
#allDisscuss{/*所有评论Div*/
	margin-top: 70px;
}
.disscussDiv{/*每一个评论DIV*/
	padding: 1px;
	margin-bottom: 50px;
	border-bottom: 1px rgb(233,233,233) solid;
	padding-bottom: 30px;
}
.disHeadDiv{
	overflow: hidden;
	width: 36px;
	height: 36px;
	border-radius:18px;
	position: absolute; 
}
.disHeadImg{/*话题头像*/
	position: absolute;
	width: 36px;
	clip: rect(0px, 36px, 36px, 0px);
	cursor: pointer;
}
.disBaseInfo{/*评论人的基本信息*/
	margin-left: 50px;
	margin-top: 10px;
	display:inline-block;
	font-size:15px;
	color: rgb(60,60,60);
}
.disContent{/*评论内容*/
	margin-left: 50px;
	color:rgb(80,80,80);
}
.disOpreation{
	margin-top:5px;
	width:150px;
	float: right;
}
.disGood{
	margin-right: 20px;
}
.disTime{/*评论时间*/
	color:rgb(120,120,120);
	float: right;
	margin-top:7px;
	display: inline-block;
	margin-right: 20px;
}
.talkImg{/*话题图片*/
	max-height: 650px; 
	display:block;
	margin: auto;
}
#disTalkPage{/*评论分页*/
	position: relative;
	top:0px;
	left: 50%; 
    transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
}